<script>
 import { aesthetic } from '../../stores/aesthetic.js';
 import cats from './cats.svelte';
 import aliens from './aliens.svelte';
 export let scale = '1';
 export let margin = 'auto';

 let themes = {
   cats,
   aliens
   }

 $: chosenTheme = themes[$aesthetic.theme] || themes['cats']
</script>

<svelte:component this={chosenTheme} scale={scale} margin={margin}/>
