<script>
  export let scale = 1;
  export let fill= "var(--accent-color)";
  export let click;
</script>

<style>
  button {
    border: none;
    background: none;
  }
</style>

<button aria-label="Rewind Song by Five Seconds" on:click={click}>
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewbox="0 0 60 60" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h26v.5q0 .5-.5.5h-3q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5H0V.5"/>
  <path d="M26 .5V0h15v.5q0 .5.5.5h3q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5h.5v17h-.5q-.5 0-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5v.5H25v-.5q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5.5-.5h5q.5 0 .5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h10q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-10q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v2q0 .5-.5.5t-.5.5q0 .5.5.5h4q.5 0 .5.5t-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5H0v-1h5.5q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5"/>
  <path fill="none" d="M41 .5V0h21v20h-.5q-.5 0-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-3Q41 1 41 .5M28 5.5q0-.5.5-.5h10q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v10q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-10q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5h-5q-.5 0-.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5v.5H0V21h.5q.5 0 .5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5q.5 0 .5-.5t.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5q0-.5-.5-.5h-4q-.5 0-.5-.5t.5-.5.5-.5v-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5M38.5 45q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-11q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5.5-.5h11q.5 0 .5.5t.5.5h2q.5 0 .5-.5t.5-.5.5-.5v-1-1q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-17q-.5 0-.5.5v10q0 .5.5.5t.5.5.5.5.5.5.5.5h13q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5v1q0 .5.5.5t.5.5v4q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-2q-.5 0-.5.5t-.5.5h-4q-.5 0-.5-.5t-.5-.5h-3q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5.5v3q0 .5.5.5t.5.5.5.5h2q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h8"/>
  <path d="M24 13.5q0-.5.5-.5h17q.5 0 .5.5t.5.5h1q.5 0 .5.5v2q0 .5-.5.5t-.5.5-.5.5h-2q-.5 0-.5-.5t-.5-.5h-11q-.5 0-.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5h11q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5v6q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-8q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5-.5-.5v-1-1-1q0-.5.5-.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h3q.5 0 .5.5t.5.5h4q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-13q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5v-1-1-1-1-1-1-1-1-1-1"/>
  <path fill="none" d="M61 37.5q0-.5.5-.5h.5v20H42v-.5q0-.5.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1"/>
</svg>
</button>
