
<script>
  export let scale = 1;
  export let fill= "var(--accent-color)";
  export let click;
</script>

<style>
  button {
    background: none;
    border: none;
  }
  svg {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>

  <button aria-label="next song" on:click={click}>
    ➙
</button>
