<script>
 export let scale = 1;
 export let fill= "var(--accent-color)";
 export let click;
</script>
<style>
 button {
   background: none;
   border: none;
   margin-left: 0;
   margin-right: 0;
 }
</style>

<button on:click={click}>
<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 60 60"
     transform="scale(1)"
     height="40"
     width="40"
     id="svg6675"
     version="1.1">
  <g id="g6695">
    <path
      id="path6685"
      d="M 0,0.5 V 0 H 0.5 1 V 0.5 Q 1,1 0.5,1 H 0 V 0.5"
      style="fill-opacity:0" />
    <path id="path6687"
      d="M 1,0.5 V 0 H 1.5 2 V 0.5 Q 2,1 2,1.5 2,2 2.5,2 3,2 3,2.5 3,3 3.5,3 4,3 4,3.5 4,4 4.5,4 5,4 5.5,4 6,4 6,4.5 6,5 6.5,5 7,5 7,5.5 7,6 7.5,6 8,6 8,6.5 8,7 8.5,7 9,7 9.5,7 10,7 10,7.5 10,8 10.5,8 11,8 11,8.5 11,9 11.5,9 q 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 18,9 18,8.5 18,8 18,7.5 18,7 18,6.5 18,6 18,5.5 18,5 18,4.5 18,4 18,3.5 18,3 18,2.5 18,2 18,1.5 18,1 18.5,1 19,1 19,1.5 19,2 19.5,2 20,2 20.5,2 21,2 21,2.5 21,3 21.5,3 22,3 22,3.5 22,4 22.5,4 23,4 23.5,4 24,4 24,4.5 24,5 24.5,5 25,5 25,5.5 25,6 25.5,6 26,6 26.5,6 27,6 27,6.5 27,7 27.5,7 28,7 28.5,7 29,7 29,7.5 29,8 29.5,8 30,8 30,8.5 30,9 30.5,9 q 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 H 56 V 25.5 26 H 55.5 Q 55,26 55,26.5 55,27 54.5,27 54,27 54,27.5 54,28 53.5,28 53,28 52.5,28 52,28 52,28.5 52,29 51.5,29 51,29 51,29.5 51,30 50.5,30 50,30 50,30.5 50,31 49.5,31 49,31 48.5,31 48,31 48,31.5 48,32 47.5,32 47,32 47,32.5 47,33 46.5,33 46,33 46,33.5 46,34 45.5,34 45,34 44.5,34 44,34 44,34.5 44,35 43.5,35 43,35 43,35.5 43,36 42.5,36 42,36 42,36.5 42,37 41.5,37 41,37 40.5,37 40,37 40,37.5 40,38 39.5,38 39,38 39,38.5 39,39 38.5,39 38,39 38,39.5 38,40 37.5,40 37,40 36.5,40 36,40 36,40.5 36,41 35.5,41 35,41 35,41.5 35,42 34.5,42 34,42 34,42.5 34,43 33.5,43 33,43 32.5,43 32,43 32,43.5 32,44 31.5,44 31,44 31,44.5 31,45 30.5,45 30,45 30,45.5 30,46 29.5,46 29,46 28.5,46 28,46 28,46.5 28,47 27.5,47 27,47 27,47.5 27,48 26.5,48 26,48 26,48.5 26,49 25.5,49 25,49 24.5,49 24,49 24,49.5 24,50 23.5,50 23,50 23,50.5 23,51 22.5,51 22,51 22,51.5 22,52 21.5,52 21,52 20.5,52 20,52 20,52.5 20,53 19.5,53 19,53 19,52.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 19,41 18.5,41 18,41 18,41.5 18,42 17.5,42 17,42 17,42.5 17,43 16.5,43 16,43 16,43.5 16,44 15.5,44 15,44 14.5,44 14,44 14,44.5 14,45 13.5,45 13,45 13,45.5 13,46 12.5,46 12,46 12,46.5 12,47 11.5,47 11,47 11,47.5 11,48 10.5,48 10,48 9.5,48 9,48 9,48.5 9,49 8.5,49 8,49 8,49.5 8,50 7.5,50 7,50 7,50.5 7,51 6.5,51 6,51 6,51.5 6,52 5.5,52 5,52 4.5,52 4,52 4,52.5 4,53 3.5,53 3,53 3,53.5 V 54 H 2.5 2 V 53.5 Q 2,53 2,52.5 2,52 2,51.5 2,51 2,50.5 2,50 2,49.5 2,49 2,48.5 2,48 2,47.5 2,47 2,46.5 2,46 2,45.5 2,45 2,44.5 2,44 2,43.5 2,43 2,42.5 2,42 2,41.5 2,41 1.5,41 1,41 1,40.5 1,40 1,39.5 1,39 1,38.5 1,38 1,37.5 1,37 1,36.5 1,36 1,35.5 1,35 1,34.5 1,34 1,33.5 1,33 1,32.5 1,32 1,31.5 1,31 1,30.5 1,30 1,29.5 1,29 1,28.5 1,28 1,27.5 1,27 1,26.5 1,26 1,25.5 1,25 1,24.5 1,24 1,23.5 1,23 1,22.5 1,22 1,21.5 1,21 1,20.5 1,20 1,19.5 1,19 1,18.5 1,18 1,17.5 1,17 1,16.5 1,16 1,15.5 1,15 0.5,15 H 0 V 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 H 0.5 Q 1,1 1,0.5"
      style="fill: {fill};fill-opacity:1" />
    <path
      id="path6689"
      d="M 2,0.5 V 0 H 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 31.5 32 32.5 33 33.5 34 34.5 35 35.5 36 36.5 37 37.5 38 38.5 39 39.5 40 40.5 41 41.5 42 42.5 43 43.5 44 44.5 45 45.5 46 46.5 47 47.5 48 48.5 49 49.5 50 50.5 51 51.5 52 52.5 53 53.5 54 54.5 55 55.5 56 V 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 H 55.5 Q 55,25 55,24.5 55,24 54.5,24 54,24 53.5,24 53,24 53,23.5 53,23 52.5,23 52,23 52,22.5 52,22 51.5,22 51,22 50.5,22 50,22 50,21.5 50,21 49.5,21 49,21 49,20.5 49,20 48.5,20 48,20 47.5,20 47,20 47,19.5 47,19 46.5,19 46,19 45.5,19 45,19 45,18.5 45,18 44.5,18 44,18 44,17.5 44,17 43.5,17 43,17 42.5,17 42,17 42,16.5 42,16 41.5,16 41,16 41,15.5 41,15 40.5,15 40,15 39.5,15 39,15 39,14.5 39,14 38.5,14 38,14 38,13.5 38,13 37.5,13 37,13 36.5,13 36,13 36,12.5 36,12 35.5,12 35,12 35,11.5 35,11 34.5,11 34,11 33.5,11 33,11 33,10.5 33,10 32.5,10 32,10 32,9.5 32,9 31.5,9 31,9 30.5,9 30,9 30,8.5 30,8 29.5,8 29,8 29,7.5 29,7 28.5,7 28,7 27.5,7 27,7 27,6.5 27,6 26.5,6 26,6 25.5,6 25,6 25,5.5 25,5 24.5,5 24,5 24,4.5 24,4 23.5,4 23,4 22.5,4 22,4 22,3.5 22,3 21.5,3 21,3 21,2.5 21,2 20.5,2 20,2 19.5,2 19,2 19,1.5 19,1 18.5,1 18,1 18,1.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 18,13 17.5,13 17,13 17,12.5 17,12 16.5,12 16,12 16,11.5 16,11 15.5,11 15,11 14.5,11 14,11 14,10.5 14,10 13.5,10 13,10 13,9.5 13,9 12.5,9 12,9 11.5,9 11,9 11,8.5 11,8 10.5,8 10,8 10,7.5 10,7 9.5,7 9,7 8.5,7 8,7 8,6.5 8,6 7.5,6 7,6 7,5.5 7,5 6.5,5 6,5 6,4.5 6,4 5.5,4 5,4 4.5,4 4,4 4,3.5 4,3 3.5,3 3,3 3,2.5 3,2 2.5,2 2,2 2,1.5 2,1 2,0.5"
      style="fill:#000000;fill-opacity:0" />
    <path
      id="path6691"
      d="M 0,15.5 V 15 h 0.5 q 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 V 54 H 1.5 1 0.5 0 V 53.5 53 52.5 52 51.5 51 50.5 50 49.5 49 48.5 48 47.5 47 46.5 46 45.5 45 44.5 44 43.5 43 42.5 42 41.5 41 40.5 40 39.5 39 38.5 38 37.5 37 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 31.5 31 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5"
      style="fill:#000000;fill-opacity:0" />
    <path
      id="path6693"
      d="M 55,26.5 Q 55,26 55.5,26 H 56 V 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 31.5 32 32.5 33 33.5 34 34.5 35 35.5 36 36.5 37 37.5 38 38.5 39 39.5 40 40.5 41 41.5 42 42.5 43 43.5 44 44.5 45 45.5 46 46.5 47 47.5 48 48.5 49 49.5 50 50.5 51 51.5 52 52.5 53 53.5 54 H 55.5 55 54.5 54 53.5 53 52.5 52 51.5 51 50.5 50 49.5 49 48.5 48 47.5 47 46.5 46 45.5 45 44.5 44 43.5 43 42.5 42 41.5 41 40.5 40 39.5 39 38.5 38 37.5 37 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 31.5 31 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 V 53.5 Q 3,53 3.5,53 4,53 4,52.5 4,52 4.5,52 5,52 5.5,52 6,52 6,51.5 6,51 6.5,51 7,51 7,50.5 7,50 7.5,50 8,50 8,49.5 8,49 8.5,49 9,49 9,48.5 9,48 9.5,48 10,48 10.5,48 11,48 11,47.5 11,47 11.5,47 12,47 12,46.5 12,46 12.5,46 13,46 13,45.5 13,45 13.5,45 14,45 14,44.5 14,44 14.5,44 15,44 15.5,44 16,44 16,43.5 16,43 16.5,43 17,43 17,42.5 17,42 17.5,42 18,42 18,41.5 18,41 18.5,41 q 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 Q 22,52 22,51.5 22,51 22.5,51 23,51 23,50.5 23,50 23.5,50 24,50 24,49.5 24,49 24.5,49 25,49 25.5,49 26,49 26,48.5 26,48 26.5,48 27,48 27,47.5 27,47 27.5,47 28,47 28,46.5 28,46 28.5,46 29,46 29.5,46 30,46 30,45.5 30,45 30.5,45 31,45 31,44.5 31,44 31.5,44 32,44 32,43.5 32,43 32.5,43 33,43 33.5,43 34,43 34,42.5 34,42 34.5,42 35,42 35,41.5 35,41 35.5,41 36,41 36,40.5 36,40 36.5,40 37,40 37.5,40 38,40 38,39.5 38,39 38.5,39 39,39 39,38.5 39,38 39.5,38 40,38 40,37.5 40,37 40.5,37 41,37 41.5,37 42,37 42,36.5 42,36 42.5,36 43,36 43,35.5 43,35 43.5,35 44,35 44,34.5 44,34 44.5,34 45,34 45.5,34 46,34 46,33.5 46,33 46.5,33 47,33 47,32.5 47,32 47.5,32 48,32 48,31.5 48,31 48.5,31 49,31 49.5,31 50,31 50,30.5 50,30 50.5,30 51,30 51,29.5 51,29 51.5,29 52,29 52,28.5 52,28 52.5,28 53,28 53.5,28 54,28 54,27.5 54,27 54.5,27 55,27 55,26.5"
      style="fill:#000000;fill-opacity:0" />
  </g>
</svg>
</button>
