<script>
 export let fill="var(--accent-color)";
 export let scale=1;
 export let click;
 export let title;
</script>

<style>
 button {
   background: none;
   border: none;
   cursor: pointer;
 }
 svg {
   margin-left: 0.5em;
   margin-right: 0.5em;
 }
</style>

<button aria-label="Make Copy of this Song Island" on:click={click} {title}>
<svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h50v.5q0 .5-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-1q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-20q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5v6q0 .5.5.5h46q.5 0 .5-.5t.5-.5h.5v2H12.5q-.5 0-.5.5v8q0 .5-.5.5t-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5.5t-.5.5H0V.5"/>
  <path d="M50 .5V0h6v1.5q0 .5-.5.5t-.5.5-.5.5h-2q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t.5.5H60v2h-.5q-.5 0-.5.5t-.5.5h-46q-.5 0-.5-.5v-1-1-1-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5h20q.5 0 .5.5t.5.5.5.5v1q0 .5.5.5h1q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5"/>
  <path fill="none" d="M56 .5V0h4v7H40.5q-.5 0-.5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5.5-.5v-1"/>
  <path d="M12 11.5q0-.5.5-.5H60v13H40.5q-.5 0-.5-.5t-.5-.5h-29q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5H0v-2h.5q.5 0 .5-.5t.5-.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5q.5 0 .5-.5v-1-1-1-1-1-1-1-1M55.5 19q.5 0 .5-.5v-1-1-1-1q0-.5-.5-.5h-8q-.5 0-.5.5v4q0 .5.5.5h8"/>
  <path fill="none" d="M47 14.5q0-.5.5-.5h8q.5 0 .5.5v4q0 .5-.5.5h-8q-.5 0-.5-.5v-1-1-1-1M0 18.5V18h1.5q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h29q.5 0 .5.5t.5.5H60v2H47.5q-.5 0-.5-.5t-.5-.5h-6q-.5 0-.5.5v3q0 .5-.5.5h-6q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5h-17q-.5 0-.5.5v5q0 .5-.5.5t-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5.5t-.5.5H0v-8.5M38.5 27q.5 0 .5-.5v-1-1q0-.5-.5-.5h-6q-.5 0-.5.5v2q0 .5.5.5h6"/>
  <path d="M32 24.5q0-.5.5-.5h6q.5 0 .5.5v2q0 .5-.5.5h-6q-.5 0-.5-.5v-1-1"/>
  <path d="M12 25.5q0-.5.5-.5h17q.5 0 .5.5v1q0 .5.5.5t.5.5.5.5h1q.5 0 .5.5t.5.5h6q.5 0 .5-.5v-1-1-1q0-.5.5-.5h6q.5 0 .5.5t.5.5H60v11H27.5q-.5 0-.5-.5t-.5-.5h-14q-.5 0-.5-.5v-1q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5H0v-2h.5q.5 0 .5-.5t.5-.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5q.5 0 .5-.5v-1-1-1-1-1"/>
  <path fill="none" d="M0 29.5V29h1.5q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5v1q0 .5.5.5h14q.5 0 .5.5t.5.5H60v2H41.5q-.5 0-.5.5t-.5.5-.5.5v1q0 .5-.5.5h-8q-.5 0-.5-.5t-.5-.5-.5-.5v-1-1q0-.5-.5-.5h-17q-.5 0-.5.5V50H0V29.5M38.5 41q.5 0 .5-.5v-1-1q0-.5-.5-.5h-6q-.5 0-.5.5v2q0 .5.5.5h6"/>
  <path d="M12 38.5q0-.5.5-.5h17q.5 0 .5.5v2q0 .5.5.5t.5.5.5.5h8q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5.5-.5H60v11h-5v-.5q0-.5-.5-.5h-37q-.5 0-.5.5v.5h-5v-.5-1-1-1-1-1-1-1-1-1-1-1"/>
  <path d="M32 38.5q0-.5.5-.5h6q.5 0 .5.5v2q0 .5-.5.5h-6q-.5 0-.5-.5v-1-1"/>
  <path fill="none" d="M17 49.5q0-.5.5-.5h37q.5 0 .5.5v.5H17v-.5"/>
</svg>
</button>
