<script>
 export let scale = 0.75;
 export let fill= "var(--accent-color)";
 export let click;
</script>

<style>
 button {
   background: none;
   border: none;
 }
 svg {
   margin-left: 0.5em;
   margin-right: 0.5em;
 }
</style>

<button aria-label="next song" on:click={click}>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 60 60"
   transform="scale(1)"
   height="40"
   width="40"
   id="svg7065"
   version="1.1">
  <g
     id="g7087">
    <path
       id="path7075"
       d="M 0,0.5 V 0 H 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 31.5 32 32.5 33 33.5 34 34.5 35 35.5 36 36.5 37 V 0.5 Q 37,1 36.5,1 36,1 35.5,1 35,1 35,1.5 35,2 34.5,2 34,2 34,2.5 34,3 33.5,3 33,3 33,3.5 33,4 32.5,4 32,4 31.5,4 31,4 31,4.5 31,5 30.5,5 30,5 30,5.5 30,6 29.5,6 29,6 28.5,6 28,6 28,6.5 28,7 27.5,7 27,7 27,7.5 27,8 26.5,8 26,8 25.5,8 25,8 25,8.5 25,9 24.5,9 24,9 24,9.5 24,10 23.5,10 23,10 23,10.5 23,11 22.5,11 22,11 21.5,11 21,11 21,11.5 21,12 20.5,12 20,12 20,12.5 20,13 19.5,13 19,13 18.5,13 18,13 18,13.5 18,14 17.5,14 17,14 17,14.5 17,15 16.5,15 16,15 15.5,15 15,15 15,15.5 15,16 14.5,16 14,16 14,16.5 14,17 13.5,17 13,17 13,17.5 13,18 12.5,18 12,18 11.5,18 11,18 11,18.5 11,19 10.5,19 10,19 10,19.5 10,20 9.5,20 9,20 8.5,20 8,20 8,20.5 8,21 7.5,21 7,21 7,21.5 7,22 6.5,22 6,22 5.5,22 5,22 5,22.5 5,23 4.5,23 4,23 4,23.5 4,24 3.5,24 3,24 3,24.5 3,25 2.5,25 2,25 1.5,25 1,25 1,25.5 1,26 0.5,26 H 0 V 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5"
       style="fill:#000000;fill-opacity:0" />
    <path
       id="path7077"
       d="M 37,0.5 V 0 h 0.5 0.5 v 0.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 38,13 38.5,13 39,13 39,12.5 39,12 39.5,12 40,12 40,11.5 40,11 40.5,11 41,11 41,10.5 41,10 41.5,10 42,10 42.5,10 43,10 43,9.5 43,9 43.5,9 44,9 44,8.5 44,8 44.5,8 45,8 45,7.5 45,7 45.5,7 46,7 46.5,7 47,7 47,6.5 47,6 47.5,6 48,6 48,5.5 48,5 48.5,5 49,5 49,4.5 49,4 49.5,4 50,4 50.5,4 51,4 51,3.5 51,3 51.5,3 52,3 52,2.5 52,2 52.5,2 53,2 53,1.5 53,1 53.5,1 54,1 54.5,1 55,1 55,0.5 V 0 H 55.5 56 V 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 h -0.5 q -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 V 54 H 53.5 53 V 53.5 Q 53,53 52.5,53 52,53 52,52.5 52,52 51.5,52 51,52 50.5,52 50,52 50,51.5 50,51 49.5,51 49,51 49,50.5 49,50 48.5,50 48,50 48,49.5 48,49 47.5,49 47,49 47,48.5 47,48 46.5,48 46,48 46,47.5 46,47 45.5,47 45,47 44.5,47 44,47 44,46.5 44,46 43.5,46 43,46 43,45.5 43,45 42.5,45 42,45 42,44.5 42,44 41.5,44 41,44 41,43.5 41,43 40.5,43 40,43 39.5,43 39,43 39,42.5 39,42 38.5,42 38,42 38,42.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 V 54 H 37.5 37 V 53.5 Q 37,53 36.5,53 36,53 35.5,53 35,53 35,52.5 35,52 34.5,52 34,52 34,51.5 34,51 33.5,51 33,51 33,50.5 33,50 32.5,50 32,50 31.5,50 31,50 31,49.5 31,49 30.5,49 30,49 30,48.5 30,48 29.5,48 29,48 29,47.5 29,47 28.5,47 28,47 27.5,47 27,47 27,46.5 27,46 26.5,46 26,46 26,45.5 26,45 25.5,45 25,45 24.5,45 24,45 24,44.5 24,44 23.5,44 23,44 23,43.5 23,43 22.5,43 22,43 22,42.5 22,42 21.5,42 21,42 20.5,42 20,42 20,41.5 20,41 19.5,41 19,41 19,40.5 19,40 18.5,40 18,40 18,39.5 18,39 17.5,39 17,39 16.5,39 16,39 16,38.5 16,38 15.5,38 15,38 15,37.5 15,37 14.5,37 14,37 14,36.5 14,36 13.5,36 13,36 12.5,36 12,36 12,35.5 12,35 11.5,35 11,35 11,34.5 11,34 10.5,34 10,34 9.5,34 9,34 9,33.5 9,33 8.5,33 8,33 8,32.5 8,32 7.5,32 7,32 7,31.5 7,31 6.5,31 6,31 5.5,31 5,31 5,30.5 5,30 4.5,30 4,30 4,29.5 4,29 3.5,29 3,29 3,28.5 3,28 2.5,28 2,28 1.5,28 1,28 1,27.5 1,27 0.5,27 H 0 V 26.5 26 H 0.5 Q 1,26 1,25.5 1,25 1.5,25 2,25 2.5,25 3,25 3,24.5 3,24 3.5,24 4,24 4,23.5 4,23 4.5,23 5,23 5,22.5 5,22 5.5,22 6,22 6.5,22 7,22 7,21.5 7,21 7.5,21 8,21 8,20.5 8,20 8.5,20 9,20 9.5,20 10,20 10,19.5 10,19 10.5,19 11,19 11,18.5 11,18 11.5,18 12,18 12.5,18 13,18 13,17.5 13,17 13.5,17 14,17 14,16.5 14,16 14.5,16 15,16 15,15.5 15,15 15.5,15 16,15 16.5,15 17,15 17,14.5 17,14 17.5,14 18,14 18,13.5 18,13 18.5,13 19,13 19.5,13 20,13 20,12.5 20,12 20.5,12 21,12 21,11.5 21,11 21.5,11 22,11 22.5,11 23,11 23,10.5 23,10 23.5,10 24,10 24,9.5 24,9 24.5,9 25,9 25,8.5 25,8 25.5,8 26,8 26.5,8 27,8 27,7.5 27,7 27.5,7 28,7 28,6.5 28,6 28.5,6 29,6 29.5,6 30,6 30,5.5 30,5 30.5,5 31,5 31,4.5 31,4 31.5,4 32,4 32.5,4 33,4 33,3.5 33,3 33.5,3 34,3 34,2.5 34,2 34.5,2 35,2 35,1.5 35,1 35.5,1 36,1 36.5,1 37,1 37,0.5"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="path7079"
       d="M 38,0.5 V 0 H 38.5 39 39.5 40 40.5 41 41.5 42 42.5 43 43.5 44 44.5 45 45.5 46 46.5 47 47.5 48 48.5 49 49.5 50 50.5 51 51.5 52 52.5 53 53.5 54 54.5 55 V 0.5 Q 55,1 54.5,1 54,1 53.5,1 53,1 53,1.5 53,2 52.5,2 52,2 52,2.5 52,3 51.5,3 51,3 51,3.5 51,4 50.5,4 50,4 49.5,4 49,4 49,4.5 49,5 48.5,5 48,5 48,5.5 48,6 47.5,6 47,6 47,6.5 47,7 46.5,7 46,7 45.5,7 45,7 45,7.5 45,8 44.5,8 44,8 44,8.5 44,9 43.5,9 43,9 43,9.5 43,10 42.5,10 42,10 41.5,10 41,10 41,10.5 41,11 40.5,11 40,11 40,11.5 40,12 39.5,12 39,12 39,12.5 39,13 38.5,13 38,13 38,12.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1"
       style="fill:#000000;fill-opacity:0" />
    <path
       id="path7081"
       d="M 55,14.5 Q 55,14 55.5,14 H 56 V 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 31.5 32 32.5 33 33.5 34 34.5 35 35.5 36 36.5 37 37.5 38 38.5 39 39.5 40 40.5 41 41.5 42 42.5 43 43.5 44 44.5 45 45.5 46 46.5 47 47.5 48 48.5 49 49.5 50 50.5 51 51.5 52 52.5 53 53.5 54 H 55.5 55 54.5 54 v -0.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1"
       style="fill:#000000;fill-opacity:0" />
    <path
       id="path7083"
       d="M 0,27.5 V 27 H 0.5 Q 1,27 1,27.5 1,28 1.5,28 2,28 2.5,28 3,28 3,28.5 3,29 3.5,29 4,29 4,29.5 4,30 4.5,30 5,30 5,30.5 5,31 5.5,31 6,31 6.5,31 7,31 7,31.5 7,32 7.5,32 8,32 8,32.5 8,33 8.5,33 9,33 9,33.5 9,34 9.5,34 q 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 V 54 H 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 31.5 31 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5 0 V 53.5 53 52.5 52 51.5 51 50.5 50 49.5 49 48.5 48 47.5 47 46.5 46 45.5 45 44.5 44 43.5 43 42.5 42 41.5 41 40.5 40 39.5 39 38.5 38 37.5 37 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 31.5 31 30.5 30 29.5 29 28.5 28 27.5"
       style="fill:#000000;fill-opacity:0" />
    <path
       id="path7085"
       d="m 38,42.5 q 0,-0.5 0.5,-0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 V 54 H 52.5 52 51.5 51 50.5 50 49.5 49 48.5 48 47.5 47 46.5 46 45.5 45 44.5 44 43.5 43 42.5 42 41.5 41 40.5 40 39.5 39 38.5 38 v -0.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1"
       style="fill:#000000;fill-opacity:0" />
  </g>
</svg>

</button>
