<script>
export let scale = 1;
export let fill= "var(--accent-color)";
</script>

  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="50" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h3v.5q0 .5-.5.5h-1Q1 1 1 1.5v30q0 .5-.5.5H0V.5"/>
  <path d="M3 .5V0h10v.5q0 .5.5.5h14q.5 0 .5.5t.5.5h4q.5 0 .5.5v9q0 .5.5.5h.5v38H24v-.5q0-.5-.5-.5h-16q-.5 0-.5-.5t-.5-.5H0V32h.5q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5h1Q3 1 3 .5M30.5 47q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-13q-.5 0-.5-.5t-.5-.5h-8Q4 3 4 3.5v30q0 .5-.5.5t-.5.5v10q0 .5.5.5h5q.5 0 .5.5t.5.5h15q.5 0 .5.5t.5.5h5"/>
  <path fill="none" d="M13 .5V0h21v12h-.5q-.5 0-.5-.5v-1-1-1-1-1-1-1-1-1q0-.5-.5-.5h-4q-.5 0-.5-.5t-.5-.5h-14Q13 1 13 .5"/>
  <path fill="none" d="M4 3.5q0-.5.5-.5h8q.5 0 .5.5t.5.5h13q.5 0 .5.5t.5.5h2q.5 0 .5.5v7q0 .5.5.5t.5.5v33q0 .5-.5.5h-5q-.5 0-.5-.5t-.5-.5h-15q-.5 0-.5-.5t-.5-.5h-5q-.5 0-.5-.5v-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M23.5 43q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h9q.5 0 .5.5t.5.5h7m3-4q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h20m0-3q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h20m0-3q.5 0 .5-.5t-.5-.5h-3q-.5 0-.5-.5t-.5-.5h-16q-.5 0-.5.5t.5.5h2q.5 0 .5.5t.5.5h17m0-4q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h20m0-4q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h20m0-3q.5 0 .5-.5t-.5-.5h-6q-.5 0-.5-.5t-.5-.5h-13q-.5 0-.5.5t.5.5h8q.5 0 .5.5t.5.5h11m0-4q.5 0 .5-.5v-1q0-.5-.5-.5h-20q-.5 0-.5.5t.5.5h11q.5 0 .5.5t.5.5h8m0-4q.5 0 .5-.5t-.5-.5h-20q-.5 0-.5.5t.5.5h20m0-4q.5 0 .5-.5t-.5-.5h-9q-.5 0-.5-.5t-.5-.5h-10Q6 8 6 8.5v1q0 .5.5.5h20"/>
  <path d="M6 8.5q0-.5.5-.5h10q.5 0 .5.5t.5.5h9q.5 0 .5.5t-.5.5h-20Q6 10 6 9.5v-1M6 13.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-20q-.5 0-.5-.5M6 16.5q0-.5.5-.5h20q.5 0 .5.5v1q0 .5-.5.5h-8q-.5 0-.5-.5t-.5-.5h-11q-.5 0-.5-.5M6 20.5q0-.5.5-.5h13q.5 0 .5.5t.5.5h6q.5 0 .5.5t-.5.5h-11q-.5 0-.5-.5t-.5-.5h-8q-.5 0-.5-.5M6 24.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-20q-.5 0-.5-.5M6 28.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-20q-.5 0-.5-.5M6 31.5q0-.5.5-.5h16q.5 0 .5.5t.5.5h3q.5 0 .5.5t-.5.5h-17q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5M6 35.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-20q-.5 0-.5-.5M6 38.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-20q-.5 0-.5-.5M6 41.5q0-.5.5-.5h20q.5 0 .5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-7q-.5 0-.5-.5t-.5-.5h-9q-.5 0-.5-.5"/>
  <path fill="none" d="M0 48.5V48h6.5q.5 0 .5.5t.5.5h16q.5 0 .5.5v.5H0v-1.5"/>
</svg>
