/*
Welcome to the main stylesheet!

This holds some basic, global styling for the Song Island.
All of the color settings are held in custom.css, and that's a much easier way to
adjust the song island.

This is a good place to put in styling if you want to fundamentally chagne all aspects of an element.
like if you want all <a> tags to be green and giant no matter what.

For more nuanced takes, check out the pages and components in the src folder as each has its own specific style section.
*/

:root {
  /* Computer, please use fancy font we are importing.  If not available, use helvetica, arial, or whatever sans serif you have. */
  --primary_text: 'IBM-Plex-Sans', 'Helvetica Neue', Arial, sans-serif;
  /* Set the default font size.  Everything else is proportional to this. */
  --body-text_size: 25px;
  --body-text_size-mobile: 4vw; /* vw is the width of the screen.  So each character is roughly 4% of the width of the screen. */
  --title-text_size: 1.4em; /* 1em is equal to whatever you set the body-text_size.  So our headings are 1.4 times larger than the body.*/
  --byline-text_size: 0.75em;
  --edit-page-height: calc(100% -6rem);
  --margin-from-top: calc(100vh / 8); /* setting a margin property that's proporitonal to the browser size.  handy! */
  --form-width: 600px;
  --form-height: 400px;
}

body, html, section, div, h1, h2, h3, h4, p, ul, li, a, figure, img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 25px;
  font-weight: 200;
}

/* https://www.davidmacd.com/blog/alternate-text-for-css-background-images.html */
span.background-image{
  background: var(--primary-bg);
  background-position: var(--bg-position);
  background-size: var(--bg-size);
  background-repeat: var(--bg-repeat);
}

 form.add-island , 
 div.add-island {
   background: var(--gradient-display);
   color: var(--primary-color);
   position: relative;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   width: var(--form-width);
   height: var(--form-height);
   position: fixed;
   top: calc((100vh / 2) - (var(--form-height) /2) + 36px);
   left: calc((100vw / 2) - (var(--form-width) / 2));
   z-index: 9999;
   border: 1px solid var(--primary-color);
   -webkit-box-shadow: -4px 6px 17px 3px var(--accent-color);
  -moz-box-shadow: -4px 6px 17px 3px var(--accent-color);
   box-shadow: -4px 6px 17px 3px var(--accent-color);
 }

form.add-island input[type=text] {
   font-size: 1.25em;
   background: none;
   border: none;
   border-bottom: 1px solid var(--primary-color);
   width: calc(var(--form-width) - 2em);
   color: var(--primary-color);
   }

form.add-island input[type=text]::placeholder {
   color: var(--primary-color);
   }
form.add-island label {
   font-size: 0.75em;
   font-style: italic;
   text-align: left;
   width: calc(var(--form-width) - 2em);
   margin-left: 1em;
   margin-bottom: 1em;
   }

form.add-island button[type=submit] {
   position: absolute;
   cursor: pointer;
   background: var(--primary-color);
   color: var(--accent-color);
   border: none;
   bottom: 0;
   right: 0;
   margin: 0.25em;
   height: 1.5em;
   font-size: 1em;
   }

/*
  Here is Code to import our font files into our stylesheet.  We are naming our fonts here, and then the path to find the font-file.  So if you want to add another font, you'd follow a v. similar pattern: put the font into the fonts, folder, then add a font-face object like you see here.

  In this case, We are taking our fonts from another dat, one that is just a font repository, to make the size of this island smaller.  Feel free to do the same (e.g. use this font library too!)
*/
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url(dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-MediumItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans-Text';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-TextItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'IBM-Plex-Sans';
  src: url('dat://2e2f5bec78692dea515e91fbc6787657fe2e8792450f43f11f94e77c31ea9156/IBM-Plex/IBM-Plex-Sans/IBMPlexSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
