<form id="island-url" class='add-island' on:submit|preventDefault={submitURL} in:fade>
  <input id="url" type="text" placeholder="dat://..." required pattern="^dat://.*" on:input={validate}/>
  <label for="url">Add an island url</label>
  <button type='submit'>submit</button>
</form>

<script>
 export let island;
 import { fade } from 'svelte/transition';
 import { createEventDispatcher } from 'svelte';

 let dispatch = createEventDispatcher();

 function validate (e) {
   let url = e.target;
   if (url.validity.patternMismatch) {
     url.setCustomValidity("this needs to be a dat url, starting with 'dat://'");
   } else {
     url.setCustomValidity("");
   }
 };

 function submitURL () {
   let url = document.forms['island-url'].elements.url.value;
   island = { island: '', comment: '', url: url };
   dispatch('call' , {text: 'url added', island});
 }
</script>

<style>
 input#id {
   width: 100%;
   }
 label[for=id]{
   text-align: left;
   }
</style>
