{#if !notified}
<div class="wrapper" transition:fly="{{delay: 250, duration: 800, x: -100, y: -1000, opacity: 0.5, easing: quintOut}}">
  <div class='art'>
    <div class="title">
      <p>{track.song.title}</p>
      <p>by</p>
      <p>{track.song.artist}</p>
    </div>
    <img {src} alt={track.picture.description} />
  </div>
  <p>Island Added</p>
</div>
{/if}

<script>
 import { fly } from 'svelte/transition';
 import { quintOut } from 'svelte/easing';
 import { onMount } from 'svelte'
 import { createEventDispatcher } from 'svelte';
 import { newestSong } from '../../stores/archipelago.js';
 import TracklistItem from '../tracklist-item.svelte';

 let dispatch = createEventDispatcher();

 export let island;

 $: notified = false;
 $: backToWaiting(notified)
 $: track = $newestSong;
 $: src = `${track.island}/${track.picture.src}`;

 onMount(() => setTimeout(() => notified = true, 3000));

 function backToWaiting (notified) {
   if (notified) {
     dispatch('call', {text: 'waiting', island: {}})
     }
   }
</script>

<style>
 div.wrapper {
   background: var(--gradient-display);
   color: var(--primary-color);
   height: calc(300px + 2em);
   width: calc(300px + 2em);
   position: fixed;
   top: calc((100vh / 2) - (300px / 2));
   left: calc((100vw / 2) - (300px / 2));
   z-index: 9999;
   display: flex;
   padding: 1em;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--primary-color);
 }

 div.art {
   width: 294px;
   height: 275px;
   position: relative;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   text-align:center;
   overflow:hidden;
 }

 img {
   height: 250px;
   min-width: 294px;
   max-width:none;
   margin:0 -100%;
 }

 div.title {
   color: var(--accent-color);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   font-size: 1.2em;
 }
</style>

