<form id='add-new-island-form' class='add-island' on:submit|preventDefault={addThisIsland} out:fade>
  <input id='island' type='text' bind:value={island.island} />
  <label for='island'>the island</label>
  <input id='url' type='text' bind:value={island.url} />
  <label for='url'>dat link</label>
  <input type='text' id='comment' bind:value={island.comment} />
  <label for="comment">Add a comment, if you please</label>
  <button type='submit'>Add New Island</button>
</form>

<script>
  import { createEventDispatcher } from 'svelte';
  import { addNewIsland } from '../../stores/archipelago.js';
  import { fade } from 'svelte/transition';
  import { newestSong } from '../../stores/archipelago.js';

  let dispatch = createEventDispatcher();
  export let island;

 async function addThisIsland() {
   await addNewIsland(island)
   dispatch('call', {text: 'commented and concluded', island})
 }
</script>


