<div class='add-island'>
{#await fetchedIsland}
<p>fetching island...</p>
{:then i}
  <p class='island'>{i.song.title}, by {i.song.artist}</p>
  <p>Is that right?</p>
  <div class='confirm'>
   <button type="cancel" on:click={() => confirm('nope')}>nope</button>
  <button type="submit" on:click|preventDefault={() => confirm('yep', i)}>yep</button>
  </div>
  {:catch err}
  <p>look like there was an error. check the url?</p>
  <button type="cancel" on:click={() => confirm('nope')}>go back</button>
  {/await}
</div>

<script>
 import { createEventDispatcher } from 'svelte';
 import { parse } from 'smarkt';

 let dispatch = createEventDispatcher();
 export let island;

 $: fetchedIsland = fetchIsland(island);

 async function fetchIsland (isl) {
   let archive = new DatArchive(isl.url);
   let fetchedIsland = await archive
     .readFile('zine/song-island.zine')
     .then(contents => parse(contents))
     .catch(err => {
       throw err
     })
   return fetchedIsland;
 }

 function confirm(str, i) {
   if (str === 'yep') {
     dispatch('call', {
       text: 'island confirmed',
       island: {...island, island: `${i.song.title}, ${i.song.artist}`}
     })
   } else {
     dispatch('call', {text: 'start', island: {}})
   }
 };

</script>

<style>
 p.island {
   font-weight: 500;
   padding: 1em;
   }

 div.confirm {
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 0.25em;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   }

 button {
   margin-left: 0.5em;
   border: none;
   height: 1.5em;
   min-width: 4em;
   font-size: 1em;
   cursor: pointer;
   }

 button[type=submit] {
   background: var(--primary-color);
   color: var(--accent-color);
   }

 button[type=cancel] {
   background: var(--accent-color);
   color: var(--primary-color);
   font-size: 0.9em;
   font-style: italic;
 }
</style>

