<script>
 import { tracklist } from '../../stores/archipelago.js';
 import {onMount, beforeUpdate, afterUpdate } from 'svelte';
 import AddUrl from './add-url.svelte';
 import ConfirmIsland from './confirm-island.svelte';
 import CommentAndConclude from './comment-and-conclude.svelte';
 import AddIslandSuccess from './add-island-success.svelte';
 import StartButton from './start-button.svelte';
 import { createEventDispatcher } from 'svelte';

 let dispatch = createEventDispatcher();

 let callAndResponse = {
   "waiting": StartButton,
   "start":  AddUrl,
   "url added": ConfirmIsland,
   "island confirmed": CommentAndConclude,
   "commented and concluded": AddIslandSuccess
   };

 $: island = {};
 $: dialog = callAndResponse["waiting"]

 function respond (e) {
   let call = e.detail.text;
   island = e.detail.island
   console.log({island, call})
   dialog = callAndResponse[call]
   };


</script>

<svelte:component this={dialog} on:call={respond} {island} />



