<button on:click={openDialog}>Add New Island</button>

<script>
 import {createEventDispatcher} from 'svelte';

 let dispatch = createEventDispatcher();

 export let island;

 function openDialog () {
   dispatch('call', {
     text: 'start',
     island
   })
   }
</script>


<style>
 button {
   background: var(--accent-color);
   color: var(--primary-color);
   height: 1.5em;
   font-size: 0.75em;
   }
</style>
