<script>
     export let scale = 1;
     let fill= "var(--accent-color)";
     let cats = ['cat1', 'cat2', 'cat3', 'cat4']
     let paths = [...cats, ...cats, ...cats]
     let colors = ['red', 'green', 'yellow', 'blue', 'blue', 'yellow', 'green', 'red', 'peachpuff', 'peachpuff', 'peachpuff', 'peachpuff'];
     $: index = 0;
     let videoTime = false;
     let catVideos = [
       {name: 'cat says yea-aahh', url: 'https://invidio.us/watch?v=36Enu-5fBZc'},
       {name: 'cat says yes', url: 'https://invidio.us/watch?v=btnj--v4W0U'},
       {name: 'lets get it on', url: 'https://www.invidio.us/watch?v=c30S5mCVk9s'},
       {name: 'wizard cat', url: 'https://www.invidio.us/watch?v=uuq8XOuzBJw'},
       {name: 'saaaail', url: 'https://www.invidio.us/watch?v=eBRwu63-qfA'},
       {name: 'sneeze dance', url: 'https://www.youtube.com/watch?v=p2e0MCEk7ro'}
       ]
     let catVideo;
     let egg = () => {
       if (index === colors.length) {
         catVideo = catVideos[Math.floor(Math.random() * catVideos.length)];
         videoTime = true;
         index = 0;
       } else {
         let nextPath = document.querySelector(`path#${paths[index]}`)
         nextPath.style=`fill:${colors[index]};`
         index += 1;
       }
     };
    </script>
    <style>
    a {

    }
    </style>

    {#if videoTime}
    <a href={catVideo.url} target="_blank" rel="noreferrer noopener" on:click={()=> videoTime = false}>{catVideo.name}</a>
    {:else}
    <svg xmlns="http://www.w3.org/2000/svg" width="196" height="39" {fill} transform="scale({scale})" on:click={egg}>
      <path fill="none" d="M0 .5V0h9v.5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v4q0 .5-.5.5t-.5.5v2q0 .5-.5.5H0V.5"/>
      <path id="cat1"
        d="M9 .5V0h1v2.5q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v3q0 .5.5.5t.5.5v2q0 .5.5.5h3q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5V0h1v1.5q0 .5.5.5t.5.5v6q0 .5-.5.5t-.5.5v6q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v4q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-2q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5v.5H11v-.5q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5H0v-8h.5q.5 0 .5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5T9 .5M22.5 33q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5V30h-1.5q-.5 0-.5.5t-.5.5H18v.5q0 .5.5.5t.5.5.5.5h3m2.5-3.5v.5h.5q.5 0 .5-.5t-.5-.5q-.5 0-.5.5m.5-8.5q.5 0 .5-.5v-1-1-1q0-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5v2q0 .5.5.5h2m-8 10h.5v-.5q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5q0-.5-.5-.5h-4q-.5 0-.5.5t.5.5.5.5.5.5.5.5v3q0 .5-.5.5t-.5.5-.5.5h-3q-.5 0-.5-.5t-.5-.5H10v1.5q0 .5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5h1m-6-10q.5 0 .5-.5v-1-1-1q0-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5v2q0 .5.5.5h2m-2 9h.5v-.5q0-.5-.5-.5t-.5.5q0 .5.5.5"/>
      <path fill="none" d="M10 .5V0h22v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1M33 .5V0h27v1.5q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v10q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5v.5H22v-.5q0-.5.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1"/>
      <path id="cat2" 
        d="M60 .5V0h2v.5q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5h5q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5V0h1v1.5q0 .5.5.5t.5.5v3q0 .5.5.5t.5.5v4q0 .5.5.5t.5.5v3q0 .5.5.5t.5.5v4q0 .5.5.5t.5.5v8q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5v.5H66v-.5q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1M74.5 33q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5V28h-1.5q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-4q-.5 0-.5-.5v-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5q0-.5-.5-.5t-.5-.5-.5-.5h-2q-.5 0-.5.5t-.5.5-.5.5q0 .5.5.5t.5.5.5.5.5.5v2q0 .5-.5.5h-3q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5H60v.5q0 .5.5.5t.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h7m6.5-5.5v.5h1.5q.5 0 .5-.5t.5-.5.5-.5q0-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5m-.5-3.5q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5v-1q0-.5-.5-.5h-3q-.5 0-.5.5t-.5.5h-3q-.5 0-.5.5t-.5.5-.5.5q0 .5.5.5h6m-14 0q.5 0 .5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-2q-.5 0-.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h3m-7 4h.5v-.5q0-.5-.5-.5t-.5.5q0 .5.5.5"/>
      <path fill="none" d="M62 .5V0h22v1.5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-5q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5T62 .5M85 .5V0h31v.5q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v5q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5-.5.5-.5.5v5q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5v.5H78v-.5q0-.5.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5-.5-.5t-.5-.5v-1"/>
      <path id="cat3" 
        d="M116 .5V0h1v1.5q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5h4q.5 0 .5.5t.5.5h1q.5 0 .5-.5t.5-.5.5-.5v-1-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5V0h1v.5q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v3q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v7q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5v.5h-10v-.5q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5M129.5 35q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-6q-.5 0-.5.5t-.5.5-.5.5-.5.5h-2q-.5 0-.5-.5v-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5q0-.5-.5-.5h-4q-.5 0-.5.5t.5.5.5.5.5.5.5.5v3q0 .5-.5.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5.5v2q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h6m2-12q.5 0 .5-.5t.5-.5.5-.5v-1-1q0-.5-.5-.5h-2q-.5 0-.5.5v3q0 .5.5.5h1m-12-1q.5 0 .5-.5v-1-1-1q0-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5v1q0 .5.5.5t.5.5.5.5h1"/>
      <path fill="none" d="M117 .5V0h18v.5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v3q0 .5-.5.5t-.5.5-.5.5h-1q-.5 0-.5-.5t-.5-.5h-4q-.5 0-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1M136 .5V0h28v1.5q0 .5-.5.5t-.5.5v6q0 .5.5.5t.5.5v5q0 .5-.5.5t-.5.5v3q0 .5-.5.5t-.5.5v6q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5h1q.5 0 .5.5v1q0 .5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5v.5h-44v-.5q0-.5.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5"/>
      <path id="cat4"
        d="M164 .5V0h1v.5q0 .5.5.5t.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h6q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5V0h2v7.5q0 .5-.5.5t-.5.5v6q0 .5.5.5t.5.5.5.5.5.5v5q0 .5.5.5h.5v7h-.5q-.5 0-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5v.5h-9v-.5q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5v-1q0-.5-.5-.5h-1q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1M184.5 34q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5V29h-.5q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-3q-.5 0-.5-.5v-1-1-1-1-1-1q0-.5.5-.5h2q.5 0 .5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-4q-.5 0-.5.5t-.5.5-.5.5v1q0 .5.5.5h2q.5 0 .5.5v6q0 .5-.5.5h-4q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5h-1q-.5 0-.5.5t.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h8m4.5-5.5v.5h.5q.5 0 .5-.5v-1q0-.5-.5-.5t-.5.5v1m-.5-7.5q.5 0 .5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1m-17-1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5v-1q0-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t.5.5h3"/>
      <path fill="none" d="M165 .5V0h27v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5h-6q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5M194 .5V0h2v22h-.5q-.5 0-.5-.5v-1-1-1-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1M173 16.5q0-.5.5-.5h1q.5 0 .5.5v1q0 .5-.5.5t-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-3q-.5 0-.5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5M183 16.5q0-.5.5-.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5v1q0 .5-.5.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5M10 17.5q0-.5.5-.5h1q.5 0 .5.5v3q0 .5-.5.5h-2q-.5 0-.5-.5v-1-1q0-.5.5-.5t.5-.5M24 17.5q0-.5.5-.5h1q.5 0 .5.5v3q0 .5-.5.5h-2q-.5 0-.5-.5v-1-1q0-.5.5-.5t.5-.5M118 18.5q0-.5.5-.5h1q.5 0 .5.5v3q0 .5-.5.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5.5-.5t.5-.5M59 19.5q0-.5.5-.5h2q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t-.5.5h-3q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5M130 19.5q0-.5.5-.5h2q.5 0 .5.5v2q0 .5-.5.5t-.5.5-.5.5h-1q-.5 0-.5-.5v-1-1-1M79 21.5q0-.5.5-.5h3q.5 0 .5.5v1q0 .5-.5.5h-1q-.5 0-.5.5t-.5.5h-6q-.5 0-.5-.5t.5-.5.5-.5.5-.5h3q.5 0 .5-.5M178 22.5q0-.5.5-.5h4q.5 0 .5.5t.5.5.5.5v1q0 .5-.5.5h-2q-.5 0-.5.5v6q0 .5.5.5h3q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h.5v1.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-8q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5q0-.5.5-.5h1q.5 0 .5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5h4q.5 0 .5-.5v-1-1-1-1-1-1q0-.5-.5-.5h-2q-.5 0-.5-.5v-1q0-.5.5-.5t.5-.5M122 23.5q0-.5.5-.5h4q.5 0 .5.5t-.5.5-.5.5-.5.5-.5.5v3q0 .5.5.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5h6q.5 0 .5.5t.5.5.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-6q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1-1q0-.5.5-.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5-.5v-1-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5M14 24.5q0-.5.5-.5h4q.5 0 .5.5t-.5.5-.5.5-.5.5-.5.5v3q0 .5.5.5t.5.5v.5h-1.5q-.5 0-.5.5t-.5.5-.5.5-.5.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5V30h.5q.5 0 .5.5t.5.5h3q.5 0 .5-.5t.5-.5.5-.5v-1-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5M68 25.5q0-.5.5-.5h2q.5 0 .5.5t.5.5.5.5q0 .5-.5.5t-.5.5-.5.5-.5.5v2q0 .5.5.5h4q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5H81v1.5q0 .5-.5.5t-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-7q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5V28h1.5q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h3q.5 0 .5-.5v-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5q0-.5.5-.5t.5-.5M82 26.5q0-.5.5-.5h1q.5 0 .5.5t-.5.5-.5.5-.5.5H81v-.5q0-.5.5-.5t.5-.5M59 27.5q0-.5.5-.5t.5.5v.5h-.5q-.5 0-.5-.5M189 27.5q0-.5.5-.5t.5.5v1q0 .5-.5.5h-.5v-.5-1M9 29.5q0-.5.5-.5t.5.5v.5h-.5q-.5 0-.5-.5M25 29.5q0-.5.5-.5t.5.5q0 .5-.5.5H25v-.5M195 29.5q0-.5.5-.5h.5v10h-12v-.5q0-.5.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5v-1M0 30.5V30h.5q.5 0 .5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5v.5H0v-8.5M23 30.5q0-.5.5-.5H25v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5h-3q-.5 0-.5-.5t-.5-.5-.5-.5V31h4.5q.5 0 .5-.5"/>
    </svg>
{/if}
