<script>
 import { aesthetic } from '../../stores/aesthetic.js';
 import Cats from './cats.svelte';
 import Aliens from './aliens.svelte';

 export let scale = '1';

 let themes = {
   cats: Cats,
   aliens: Aliens
   }

$: chosenTheme = themes[$aesthetic.theme] || themes['cats']
</script>

<svelte:component this={chosenTheme} scale={scale}/>
