<script>
import marked from 'marked';
import { currentSong } from '../stores/archipelago.js';
</script>

{#if $currentSong.song}
<section class='distro'>
  <div class="distro-words">
    <section class="bylines">
      <p><strong>{$currentSong.song.title} by {$currentSong.song.artist}</strong></p>
      {#if $currentSong.picture && $currentSong.picture.attribution}
      <em>with art from {$currentSong.picture.attribution}</em>
      {/if}

      {#if $currentSong.distro.creator}
      <p class='creator'>A song island crafted by {$currentSong.distro.creator}
        {#if $currentSong.distro["creation date"]}
        on {$currentSong.distro["creation date"]}
        {/if}
      </p>
      {/if}

    </section>

    {#if $currentSong.distro["creator homepage"]}
    <section class='homepage'>
      <p> {$currentSong.distro.creator}'s homepage is <a href="{$currentSong.distro["creator homepage"]}" noreferrer noopener target="_blank">{$currentSong.distro["creator homepage"]}</a></p>
    </section>
    {/if}

    {#if $currentSong.distro.sharing}
    <p>
      For sharing, they requested:
      <quote>
        {@html marked($currentSong.distro.sharing)}
      </quote>
    </p>
    {/if}

    {#if ($currentSong.distro.riyl && $currentSong.distro.riyl.length > 0) || ($currentSong.distro.moods && $currentSong.distro.moods.length > 0)}
    <section class="tags">
      <strong>they've offered these tags for your library:</strong>
      {#if $currentSong.distro.riyl && $currentSong.distro.riyl.length > 0}
      <div class='tagList'>
        <p>Recommended If You Like</p>
        <ul>
          {#each $currentSong.distro.riyl as rec}
          <li>{rec}</li>
          {/each}
        </ul>
      </div>
      {/if}
      {#if $currentSong.distro.moods && $currentSong.distro.moods.length > 0}
      <div class="tagList">
        <p>Moods</p>
        <ul>
          {#each $currentSong.distro.moods as mood}
          <li>{mood}</li>
          {/each}
        </ul>
      </div>
      {/if}
    </section>
    {/if}
  </div>
</section>
{/if}

<style>

section.distro {
  color: var(--primary-color);
  font-size: 1.5em;
  width: 100%;
  min-height: calc(100vh - 104px);
  margin: 0;
  padding: 3rem;
  background: var(--gradient-display);
  opacity: 1;
  font-weight: 500;
  font-size: 0.75em;
}

a {
  text-shadow: none;
  background: var(--primary-color);
  color: var(--accent-color);
}

div.distro-words {
  width: 60%;
  -webkit-text-stroke: var(--accent-color);
  -webkit-text-stroke-width: 0.25px;
}

div.tagList {
  margin-top: 1em;
  background: var(--primary-color);
}

div.tagList p {
  text-align: center;
  font-variant-caps: small-caps;
  background: var(--accent-color);
  color: var(--primary-color);
}

div.tagList ul {
  list-style-type: none;
  color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.tagList li {
  margin-right: 1em;
  text-shadow: none;
}


strong {
  color: var(--primary-color);
  font-size: 1em;
}

p {
  color: var(--primary-color);
}

p.creator {
  margin-top: 0.75em;
}


quote {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}

section {
  margin-bottom: 2rem;
}

section.tags {
  margin-top: 2rem;
}
</style>
