<CharmBracelet />
{#if section !== 'tracklist'}
<a href="/tracklist" use:link class="clasp" in:fade={{delay: 100}}>Tracklist</a>
{/if}
<section>
  <svelte:component this={Section[section]} />
</section>
<Footer {section} />

<script>
import { fade } from 'svelte/transition';
import { link } from 'svelte-routing';
import CharmBracelet from '../components/charm-bracelet.svelte';
import Footer from '../components/footer.svelte';
import Song from './Song.svelte';
import Links from './Links.svelte';
import Words from './Words.svelte';
import Tracklist from './Tracklist.svelte';
import Distro from './Distro.svelte';
import Main from './Main.svelte';

export let section = 'index';

let Section = {
  song: Song,
  "from-the-distro": Distro,
  links: Links,
  words: Words,
  main: Main,
  tracklist: Tracklist
}
</script>

<style>
 section {
   height: calc(100vh - 104px);
   overflow-y: scroll;

   }
 a {
   text-decoration: none;
   text-align: center;
   width: 100px;
   margin: auto;
   background: var(--primary-color);
   color: var(--accent-color);
   }

 div.tracklist {
   background: var(--accent-color);
   color: var(--primary-color);
   border-radius: 0 0 50% 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   }

 a.clasp {
   position: absolute;
   top: 60px;
   left: calc((100vw / 2) - (200px / 2));
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   background: var(--primary-color);
   color: var(--accent-color);
   border: 3px solid var(--accent-color);
   border-top: none;
   width: 200px;
   height: 34px;
   font-size: 1em;
   border-radius: 0 0 1.75em 1.75em;
   padding-bottom: 0.5em;
 }
</style>

