<div class='links-player'>
  <TopBar>
    <Favicon />
    <p>Links!</p>
    <Favicon />
  </TopBar>
  <div id='links'>
    <ul>
      {#if $currentSong.links}
      {#each $currentSong.links as link }
      <li><a href={link.url} target="_blank" rel="noopener noreferrer">{link.description}</a></li>
      {/each}
      {/if}
    </ul>
  </div>
  <div class='controls'>
    <FivePrev click={()=> $press.reverseSeek(5)} />
    {#if $audio.paused}
    <Play click={()=> $press.play()} />
    {:else}
    <Pause click={()=> $press.pause()}/>
    {/if}
    <FiveNext click={()=> $press.forwardSeek(5)}/>
  </div>
</div>

<script>
import { paused, currentSong, audio, press } from '../stores/archipelago.js';
import TopBar from '../components/top-bar.svelte';
import {
  FiveNext,
  FivePrev,
  Favicon,
  Play,
  Pause
} from '../icons';

</script>


<style>
div.links-player {
  position: relative;
  margin: auto;
  margin-top: 1.5em;
  max-width: 800px;
  min-height: 300px;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--accent-color);
  justify-content: space-between;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5em;
}

div#links {
  padding: 1em;
}
p {
  font-style: italic;
  font-weight: 300;
}
h2 {
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  text-decoration: underline;
}

div.controls {
  width: 100%;
  height: 25%;
  background: var(--primary-color);
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 1em;
}

li {
  background: var(--accent-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0.5rem;
  font-size: 1.5em;
  padding: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}
</style>
