<script>
      import { press } from '../stores/archipelago.js';
      import { link } from 'svelte-routing';
</script>

<section id='title-block'>
  <h1>Archipelago</h1>
  <a href="/main" on:click={() => $press.play()} use:link>enter</a>
</section>

<style>
#title-block {
  height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

h1 {
  text-align: center;
  font-size: 5em;
  font-weight: 200;
  color: var(--accent-color);
}

h2 {
  font-size: 3em;
  font-weight: 400;
  color: var(--accent-color);
}

a {
  width: 3em;
  margin: auto;
  border: none;
  margin-bottom: 2em;
  font-size: 2rem;
  color: var(--primary-color);
  background: var(--accent-color);
  margin-top: 1rem;
  text-align: center;
  border: 1px solid var(--accent-color);
}
a:hover {
  text-decoration: none;
  border: 1px solid var(--primary-color);
}
</style>
