{#if revealed}
<TracklistControls />
<section id="tracklist-wrapper" transition:fade={{duration: 500}}>
  <ul id="tracklist">
    {#each $tracklist as track, index}
    <TracklistItem {track} {index} />
    {/each}
  </ul>
  {#if $hiddenTracks.length > 0}
  <h3>(accidentally) hidden tracks</h3>
  <em>These islands were meant to be a part of the archipelago, but cannot be reached presently.</em>
  <em>this is likely due to them not being seeded.  You can click their link to add them to your watchlist, and help support them when they're available!</em>
  <ul>
    {#each $hiddenTracks as track, index}
    <li>
      {index + 1}:) {track.island} | <a href="{track.url}">dat link</a>
      <details>
        <summary>Read Error</summary>
        {track.err}
      </details>
    </li>
    {/each}
  </ul>
  {/if}
</section>
{/if}

<script>
 import {
   hiddenTracks,
   tracklist } from '../stores/archipelago.js';

 import { fade } from 'svelte/transition';
 import { Link } from 'svelte-routing';
 import { onMount } from 'svelte';
 import TracklistControls from '../components/tracklist-controls.svelte';
 import TracklistItem from '../components/tracklist-item.svelte';
 import AddIslandDialog from '../components/add-island-dialog/index.svelte';

 let revealed = false;
 $: addIslandDialogOpen = false;
 $: newIslandAdded = false;

 onMount(() => revealed = true);


 function openDialog () {
   addIslandDialogOpen = true;
 };

 function closeDialog () {
   addIslandDialogOpen = false;
 };
</script>

<style>

 section#tracklist-wrapper {
   margin-top: -34px;
   position: relative;
   z-index: 4;
   background: var(--primary-color);
   height: calc(100vh - 100px);
   overflow-y: scroll;
   }

 ul#tracklist {
   display: grid;
   grid-gap: 2em;
   grid-template-columns: 1fr 1fr 1fr;
   width: 80%;
   margin: auto;
   margin-top: 2em;
   color: var(--accent-color);
 }

 li {
   list-style-type: none;
   padding-left: 0;
 }
 details {
   padding-left: 1em;
   font-size: 0.75em;
 }

 button {
   position: fixed;
   top: calc(0 + 50px);
   right: 50px;
   }
</style>


