<script>
 import TopBar from '../components/top-bar.svelte';
 import {Favicon} from '../icons';
 import { currentSong } from '../stores/archipelago.js';
 import marked from 'marked';

 $: formattedWords = formatWords($currentSong.words);

 function formatWords (words) {
   if (words == null) {
     return '<p>...</p>';
   } else {
     return marked(words);
   }
 }
</script>

<div id='word-window'>
  {#if $currentSong.song}
  <TopBar>
    <p class='song-and-artist'>“{$currentSong.song.title}” by {$currentSong.song.artist}</p>
    <Favicon scale="0.5" />
  </TopBar>
  <div class='words'>
    {@html formattedWords}
  </div>
  {/if}
</div>

<style>
 div#word-window {
   max-width: 900px;
   margin: auto;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
 }

 p.song-and-artist {
   display: flex;
   font-size: 1.2rem;
   font-weight: 300;
   justify-content: center;
   align-items: center;
 }

 div.words {
   border-top: none;
   width: 100%;
   background: var(--gradient-display);
   color: var(--primary-color);
   padding: 2em;
   font-size: 1em;
   font-weight: 350;
   height: calc(100vh - 180px);
   overflow-y: scroll;
   border-radius: 0 0 8px 8px;
   border: 2px solid var(--primary-color);
 }
 div.words :global(p) {
   width: 100%;
   color: var(--primary-color);
   margin: auto;
   margin-bottom: 2rem;
 }

 div.words::-webkit-scrollbar {
   background: none;
   width: 12px;
 }

 div.words::-webkit-scrollbar-track {
   border-left: 1px solid var(--primary-color);
   opacity: 0.5;
   background: none;
 }

 div.words::-webkit-scrollbar-thumb {
   background-color: var(--primary-color);
   border: 1px solid transparent;
   border-left: 2px solid transparent;
   border-radius: 5px;
   background-clip: content-box;
 }

 div.words::-webkit-scrollbar-thumb:vertical {
   height: 10px;
 }

 div.words::-webkit-scrollbar-track-piece {
   height: 10px;
 }
</style>
