<nav id='charm-bracelet'>
  <ul class='main charms'on:mouseenter={toggleHint} on:mouseleave={toggleHint}>
    <li transition:fly="{{delay: 1200, x:300, y:500, duration: 1000}}" >
      <a href='/song' title="song player"use:link><AudioLink scale="0.75"/></a>
      <p class="hint">audio</p>
    </li>
    <li transition:fly="{{delay: 1400, x:300, y:500, duration: 1000}}" >
      <a href='/words' use:link><WordsLink scale="0.75" /></a>
      <p class="hint">words</p>
    </li>
    <li transition:fly="{{delay: 1600, x:300, y:500, duration: 1000}}" >
      <a href='/links' use:link><LinksLink scale="0.75" /></a>
      <p class="hint">links</p>
    </li>
    <li transition:fly="{{delay: 1800, x:300, y:500, duration: 1000}}" >
      <a href='/from-the-distro' use:link><DistroLink scale="0.75" /></a>
      <p class="hint">from /distro</p>
    </li>
  </ul>
    {#if hintVisible}
    <p class="hint">Go ahead and click, the music will keep playing.</p>
    {/if}
   <ul class="admin charms">
    {#if isDat}
     <li>
       <AddIslandDialog />
     </li>
    <li>
      <Photocopy click={() => makeCopy(datZine)} scale="0.75"/>
      <p class="hint">make a copy</p>
    </li>
    {/if}
  </ul>
</nav>

<script>
 import { link } from 'svelte-routing';
 import { fly} from 'svelte/transition';
 import { library as datZine } from '../stores/archipelago.js';
 import {
   AudioLink,
   WordsLink,
   LinksLink,
   DistroLink,
   Photocopy
 } from '../icons';
 import AddIslandDialog from './add-island-dialog/index.svelte';

 $: isDat = datZine !== undefined;
 $: isDatOwner = false 
 $: hintVisible = false;
 datZine.getInfo().then(info => isDatOwner = info.isOwner)

 let toggleHint = () => hintVisible = !hintVisible;
 let makeCopy = async(datZine) => {
   let zine = window.location.href
   var newZine = await DatArchive.fork(zine, {
     title: 'My Song Island!',
     description: 'A bit about a song',
     prompt: true
   })
   window.open(newZine.url)
 }
</script>

<style>
nav#charm-bracelet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: var(--accent-color);
  width: 100%;
  height: 50px;
  padding-top: 10px;
  border-bottom: 3px solid var(--accent-color);
}

ul {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  margin-right: 1em;
  margin-bottom: 0;
  position: relative;
}
li:first-child {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0;
}

li#edit-link {
  margin-left: auto;
}

li p {
  display: none;
}

li:hover p {
  display: inline;
  position: absolute;
  text-align: center;
  width: 6em;
  bottom: -1em;
  left: -50%;
  background: var(--accent-color);
  color: var(--primary-color);
}


button {
  background: var(--accent-color);
  color: var(--primary-color);
  font-size: 0.85em;
}

a {
  justify-content: space-around;
  margin-bottom: 0;
  color: var(--accent-color);
  text-decoration: none;
}
p.hint {font-style: italic; font-weight: 300; font-size: 0.75em;}
</style>
