<footer>
  <p>archipelago</p>
  {#if section === 'main'}
  <Legend position="bottom left" subject="song"/>
  <Legend position="bottom right" subject="picture"/>
  {/if}
</footer>

<script>
 import Legend from './legend.svelte';
 export let section;
</script>

<style>
 footer {
   background: var(--accent-color);
   color: var(--primary-color);
   width: 100%;
   height: 39px;
   padding-bottom: 5px;
   font-style: italic;
   font-weight: 200;
   font-size: 1.2em;
   display: flex;
   justify-content: center;
   align-items: center;
 }
</style>
