<script>
 import { currentSong } from '../stores/archipelago.js'
 export let position = '';
 export let subject = 'song';

</script>

{#if $currentSong.song}
<div id='legend' class={position}>
  {#if subject === 'picture'}
    <p class='tag'>The Picture</p>
    <h2>“{$currentSong.picture.title}”</h2>
    {#if $currentSong.picture.attribution}
      <p>{$currentSong.picture.attribution}</p>
    {/if}
  {:else}
    <p class="tag">The Song</p>
    <h2>“{$currentSong.song.title}”</h2>
    <p>{$currentSong.song.artist}</p>
  {/if}
</div>
{/if}

<style>

div#legend {
  position: absolute;
  max-width: 350px;
  animation: fadeIn ease-in 2s;
  padding: 0.5em;
  color: var(--accent-color);
  background: var(--primary-color);
  z-index: 5;
}

.bottom {
  bottom: 0;
  }
.left {
  left: 0;
  }
.right {
  right: 0;
  }
.top {
  top: 0;
  }

p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

p.tag {
   text-align: right;
   opacity: 0.5;
   font-size: 1rem;
   font-style: italic;
   font-weight: 400;
 }

h2 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
</style>
