{#if open}
<div id='tracklist-controls' in:slide={{duration: 2000, easing: quintOut}} out:slide={{duration: 500, easing: quintOut}}>
  <ul class="playlist" in:fade={{delay: 200}}>
    {#if $currentSong.song}
      {#if $previousSong.song}
      <li class="prev">
        <Previous fill="var(--primary-color)" scale="0.5" click={() => $press.prevTrack()} />
        <p>{$previousSong.song.title}</p>
      </li>
        {:else}
        <li class="prev"><p>  </p></li>
      {/if}
        <li class="current">
          <p>{$currentSong.song.title}</p>
          {#if $paused}
          <Play click={() => $press.play()} scale="0.7" fill="var(--primary-color)" />
          {:else}
          <Pause click={() => $press.pause()} scale="0.7" fill="var(--primary-color)" />
          {/if}
        </li>
        <li class="next">
          <p>{$nextSong.song.title}</p>
          <Next fill="var(--primary-color)" scale="0.35" click={() => $press.nextTrack()}/>
        </li>
    {/if}
  </ul>
</div>
{/if}
<div class="clasp" out:fade={{delay: 100, duration: 500}}>
  <p>Tracklist</p>
</div>

<script>
 import { onMount, afterUpdate } from 'svelte';
 import { quintOut } from 'svelte/easing';
 import { link } from 'svelte-routing';
 import {slide, fade } from 'svelte/transition';
 import { paused, currentSong, previousSong, nextSong, press } from '../stores/archipelago.js';
 import { Play, Pause, Next, Previous } from '../icons';

 export let section;
 let open = false;

 onMount(() => open = true);
 afterUpdate(() => console.log('cs', $currentSong, 'ns', $nextSong));
</script>

<style>
 div#tracklist-controls {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   background: var(--accent-color);
   width: 100%;
   position: relative;
 }

 ul.playlist {
   height: 75px;
   width: 100vw;
   position: relative;
   padding: 0;
   color: var(--primary-color);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   font-size: 0.75em;
   }

 ul.playlist li {
   list-style-type: none;
   padding: 0;
   display: flex;
   align-items: center;
   }

 li.prev {
   justify-content: flex-start;
   }

 li.current {
   justify-content: center;
   flex-flow: column;
 }

 li.next {
   justify-content: flex-end;
 }

 div.clasp {
   width: 100%;
   position: relative;
   z-index: 5;
   }
 div.clasp p{
   left: calc((100vw / 2) - (200px / 2));
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   background: var(--accent-color);
   color: var(--primary-color);
   border: 3px solid var(--primary-color);
   border-top: none;
   width: 200px;
   height: 34px;
   font-size: 1em;
   border-radius: 0 0 1.75em 1.75em;
   padding-bottom: 0.5em;
 }
</style>

