<li
  style="
         --primary-color: {track.aesthetic.primaryColor};
         --accent-color: {track.aesthetic.accentColor};
         --gradient-display: {track.aesthetic.gradientDisplay};">

    <div class='admin'>
      <XBox fill="var(--primary-color)" scale="0.75" isLink={false} click={() => removeIsland(index)}/>
    </div>
    <div class='art' on:click={() => $press.playThisTrack(track)}>
    <div class="title">
      <p>{track.song.title}</p>
      <p>by</p>
      <p>{track.song.artist}</p>
    </div>
    <img {src} alt={track.picture.description} />
  </div>
</li>

<script>
 import {afterUpdate } from 'svelte';
 import { press, removeIsland } from '../stores/archipelago.js';
 import XBox from '../icons/xbox.svelte';
 export let track;
 export let index;
 $: src = `${track.island}/${track.picture.src}`;
</script>

<style>
 li {
   cursor: pointer;
   margin-bottom: 1em;
   height: 350px;
   width: 300px;
   list-style-type: none;
   padding: 3px;
   position: relative;
   background: var(--accent-color);
   }

 div.art {
   width: 294px;
   height: 275px;
   position: relative;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   text-align:center;
   overflow:hidden;
   }

 img {
   height: 250px;
   min-width: 294px;
   max-width:none;
   margin:0 -100%;
   }

 div.title {
   color: var(--accent-color);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   font-weight: 400;
   font-size: 1.2em;
   }

 p{
   text-align: center;
   background: var(--primary-color);
   opacity: 0.7;
   }

 div.admin {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 0.15em;
   }
</style>

