<script>
 import { press, paused, currentTime, duration, audio, currentSong, tracklist, hiddenTracks } from './stores/archipelago.js';
 import { aesthetic } from './stores/aesthetic.js';
 import { onMount, afterUpdate } from 'svelte';
 import Song from './pages/Song.svelte';
 import { Router, Route } from "svelte-routing";

 import Title from './pages/Title.svelte';
 import Layout from './pages/Layout.svelte';

 $: src = $currentSong.island ? `${$currentSong.island}/${$currentSong.song.src}` : '';
 $: islands = $tracklist.length;

 let url = '';
 onMount(()=> {
 $audio = document.querySelector('#audio-player'); 
 });

</script>
<style>
 main{
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   background: var(--primary-bg);
   background-position: var(--bg-position);
   background-size: var(--bg-size);
   background-repeat: var(--bg-repeat);
   background-color: var(--background-color);
   font-family: var(--primary_text); 
   font-size: 25px;
   font-weight: 200;
   color: var(--accent-color);
 }
</style>

<main style={$aesthetic.style}>
  <audio
    on:ended={$press.nextTrack}
    preload="metadata"
    autoplay
    id="audio-player"
    src={src}
    bind:currentTime={$currentTime}
    bind:duration={$duration}
    bind:paused={$paused}
    bind:this={$audio}>
  </audio>
  <Router url="{url}">
    <Route path="/" component={Title} />
    <Route path="/:section" component={Layout} />
  </Router>
</main>
<!-- <Song /> -->
