<script>
  export let scale = 1;
  export let fill= "var(--accent-color)";
</script>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 30 31"
   height="31"
   width="30"
   id="svg7167"
   fill={fill}
   transform="scale({scale})"
   version="1.1">
  <metadata
     id="metadata7173">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs7171" />
  <g
     id="g7189">
    <path
       id="path7177"
       d="M 0,0.5 V 0 H 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 V 0.5 Q 15,1 15,1.5 15,2 14.5,2 14,2 14,2.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 14,6 13.5,6 13,6 13,6.5 13,7 13,7.5 13,8 13,8.5 13,9 12.5,9 12,9 12,9.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 Q 9,12 8.5,12 8,12 7.5,12 7,12 6.5,12 6,12 6,12.5 6,13 5.5,13 5,13 4.5,13 4,13 3.5,13 3,13 2.5,13 2,13 1.5,13 1,13 0.5,13 H 0 V 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7179"
       d="M 15,0.5 V 0 H 15.5 16 V 0.5 Q 16,1 16.5,1 17,1 17,1.5 17,2 17,2.5 17,3 17.5,3 18,3 18,3.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 H 30 V 10.5 11 11.5 12 H 29.5 Q 29,12 29,12.5 29,13 28.5,13 28,13 28,13.5 28,14 27.5,14 27,14 27,14.5 27,15 26.5,15 26,15 26,15.5 26,16 25.5,16 25,16 24.5,16 24,16 24,16.5 24,17 23.5,17 23,17 23,17.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 V 31 H 25.5 25 24.5 24 V 30.5 Q 24,30 23.5,30 23,30 22.5,30 22,30 22,29.5 22,29 21.5,29 21,29 21,28.5 21,28 20.5,28 20,28 20,27.5 20,27 19.5,27 19,27 18.5,27 18,27 18,26.5 18,26 17.5,26 17,26 17,25.5 17,25 16.5,25 16,25 15.5,25 15,25 14.5,25 14,25 14,25.5 14,26 13.5,26 13,26 13,26.5 13,27 12.5,27 12,27 12,27.5 12,28 11.5,28 11,28 11,28.5 11,29 10.5,29 10,29 10,29.5 10,30 9.5,30 9,30 9,30.5 V 31 H 8.5 8 7.5 7 V 30.5 Q 7,30 7,29.5 7,29 7.5,29 8,29 8,28.5 8,28 8,27.5 8,27 8,26.5 8,26 8,25.5 8,25 8.5,25 9,25 9,24.5 9,24 9,23.5 9,23 9,22.5 9,22 9,21.5 9,21 9.5,21 10,21 10,20.5 10,20 9.5,20 9,20 8.5,20 8,20 8,19.5 8,19 7.5,19 7,19 7,18.5 7,18 6.5,18 6,18 5.5,18 5,18 5,17.5 5,17 4.5,17 4,17 4,16.5 4,16 3.5,16 3,16 3,15.5 3,15 2.5,15 2,15 1.5,15 1,15 1,14.5 1,14 0.5,14 H 0 V 13.5 13 h 0.5 q 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 Q 6,13 6,12.5 6,12 6.5,12 q 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 12,9 12.5,9 13,9 13,8.5 13,8 13,7.5 13,7 13,6.5 13,6 13.5,6 14,6 14,5.5 14,5 14,4.5 14,4 14,3.5 14,3 14,2.5 14,2 14.5,2 15,2 15,1.5 15,1 15,0.5"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="path7181"
       d="M 16,0.5 V 0 H 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 V 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 h -0.5 q -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 20,11 20,10.5 20,10 19.5,10 19,10 19,9.5 19,9 19,8.5 19,8 19,7.5 19,7 18.5,7 18,7 18,6.5 18,6 18,5.5 18,5 18,4.5 18,4 18,3.5 18,3 17.5,3 17,3 17,2.5 17,2 17,1.5 17,1 16.5,1 16,1 16,0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7183"
       d="M 29,12.5 Q 29,12 29.5,12 H 30 V 12.5 13 13.5 14 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 H 29.5 29 28.5 28 27.5 27 26.5 26 v -0.5 q 0,-0.5 0,-1 0,-0.5 0,-1 Q 26,28 25.5,28 25,28 25,27.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 25,24 24.5,24 24,24 24,23.5 24,23 24,22.5 24,22 23.5,22 23,22 23,21.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 23,17 23.5,17 24,17 24,16.5 24,16 24.5,16 25,16 25.5,16 26,16 26,15.5 26,15 26.5,15 27,15 27,14.5 27,14 27.5,14 28,14 28,13.5 28,13 28.5,13 29,13 29,12.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7185"
       d="M 0,14.5 V 14 H 0.5 Q 1,14 1,14.5 1,15 1.5,15 2,15 2.5,15 3,15 3,15.5 3,16 3.5,16 4,16 4,16.5 4,17 4.5,17 5,17 5,17.5 5,18 5.5,18 6,18 6.5,18 7,18 7,18.5 7,19 7.5,19 8,19 8,19.5 8,20 8.5,20 9,20 9.5,20 10,20 10,20.5 10,21 9.5,21 9,21 9,21.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 9,25 8.5,25 8,25 8,25.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 8,29 7.5,29 7,29 7,29.5 7,30 7,30.5 V 31 H 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5 0 V 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7187"
       d="m 14,25.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 V 31 H 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 V 30.5 Q 9,30 9.5,30 10,30 10,29.5 10,29 10.5,29 11,29 11,28.5 11,28 11.5,28 12,28 12,27.5 12,27 12.5,27 13,27 13,26.5 13,26 13.5,26 14,26 14,25.5"
       style="fill:{fill};fill-opacity:0" />
  </g>
</svg>
